* {
    margin: 0;
    padding: 0;
    border: 0;

    box-sizing: border-box;


}

html {
    overflow: hidden;
    color: var(--color-letters-clear);
}


:root {


    /* --color-call-to-action: rgb(48, 183, 207); */
    --color-call-to-action: rgb(45, 69, 92);
    --color-hover: rgb(42, 58, 73);
    /* --color-hover: rgb(42, 154, 173); */
    --color-input: rgb(148, 196, 211);
    --color-letters-clear: white;
    --color-letters: rgb(11, 42, 59);
    --color-background: rgb(69, 91, 110);
    --color-background-header: rgb(7, 25, 43);
    --color-menu-hover: rgb(121, 246, 255);

}




/*---------body---------------*/

html,
body {
    min-height: 100vh;
}

body {
    /*footer em baixo*/
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background-color: var(--color-background);
}



.body {

    position: relative;
    font-family: 'Roboto', sans-serif;


    display: flex;
    flex-direction: column;
}


/*----------footer------*/



footer {

    margin-top: auto;
    /*footer em baixo*/

    height: 62px;
    text-align: center;
    background-color: rgba(238, 238, 238, 1);

}


footer p {

    font-family: 'Roboto', sans-serif;

    padding-top: 24px;
    color: rgba(119, 119, 119, 1);
    font-size: 14px;

}

/*---------------------------------*/


/* -------------menu--------------- */

header .menu {

    margin: 32px auto;
    width: 940px;


    position: relative;

}

.menu .logo {


    padding-top: 12px;
    text-align: center;

}

.form-error {


    color: rgb(216, 91, 91);
}

.form-error p {
    font-size: 12px;
    text-align: start;
}