.section {
    text-align: center;
    width: 500px;
    /* height: 900px; */
    margin: 0 auto 100px auto;

}

.title {
    margin-top: 100px;
    margin-bottom: 35px;
    text-align: center;

    font-size: 24px;
    font-weight: bold;
}

.item {




    text-align: start;

    margin-bottom: 35px;
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    color: #111111;

}

.item div:first-of-type {


    padding-bottom: 10px;

}

/*input*/
input {
    font-size: 30px;
    padding-left: 15px;
    color: var(--color-letters);
    background-color: var(--color-call-to-action);
    height: 38px;
    width: 940px;
    border-radius: 4px;
    border: 1px solid var(--color-hover);
    box-shadow: 2px 0px 5px gray;
}

input::placeholder {
    font-size: 24px;
}

/*input-error*/

@keyframes originalstate {

    to {

        border: 1px solid #ddd;
    }

}

.input-error {
    border: 1px solid red;

    animation: originalstate 400ms 5s ease-in-out forwards;
}



.section div:last-of-type {
    display: flex;
    justify-content: space-between;
}

.section div:last-of-type a {
    margin-top: 10px;
    font-size: 16px;
    text-decoration: none;
    color: var(--color-hover);
}

/*botao*/
button {



    outline: none;

    cursor: pointer;

    width: 140px;
    height: 36px;
    font-size: 16px;
    border-radius: 4px;
    background-color: var(--color-call-to-action);
    color: white;
    outline: none;
}

button[type="submit"]:hover {

    background-color: var(--color-hover)
}