<!DOCTYPE html>


<head>
    
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="/styles/messages.css">
    {% block head %}{% endblock %}

    {# <script
      src="https://cdn.socket.io/4.5.0/socket.io.min.js"
      integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k"
      crossorigin="anonymous"
    ></script> #}

    
</head>

<body>
    
   

    <div class="body">

    {% include "views/parts/header.njk" %}
    {% include "views/parts/messages.njk" %} 
    {% block content %}{% endblock %}
        
    </div>

    <script src="/scripts.js"></script>
{# 
    <script src="/websocket.js" type="module"></script>
    <script src="/socket.io/socket.io.js"></script> #}

    {% include "views/parts/footer.njk" %}

</body>


</html>