<!DOCTYPE html>


<head>
    
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/header.css">
     <link rel="stylesheet" href="/styles/footer.css">
    {% block head %}{% endblock %}


    
</head>

<body>
    
   

    <div class="body">

    {% include "views/parts/header.njk" %}

    {% block content %}{% endblock %}
        

    <script src="/scripts.js"></script>


    </div>

    {% include "views/parts/footer.njk" %}

</body>


</html>