<!DOCTYPE html>


<head>

    <link rel="stylesheet" href="/styles/login/styles-login-layout.css">
    <link rel="stylesheet" href="/styles/login/styles-login.css">
    {% block head %}{% endblock %}

   
    
</head>

<body>

    

    <div class="body">
        

        <header>

            <div class="menu">


                <div class="logo">

                

                
                
                </div>
                

            </div>

        </header>
        

        {% block content %}{% endblock %}
        

    </div>

    
</body>


</html>