<!DOCTYPE html>


<head>
    
    <link rel="stylesheet" href="/styles/index.css">
    {% block head %}{% endblock %}


    
</head>

<body>
    
   

    <div class="body">

    {% block content %}{% endblock %}
        

    <script src="/scripts/scripts.js"></script>


    </div>


</body>


</html>