{% extends "views/layout.njk" %}

{% block head %}
    <link rel="stylesheet" href="/styles.css">
    <title>Foodfy</title>
{% endblock %}

{% block content %}

    <div class="not-found">


            <div class="text">
                
                    <div class="title">404</div>
                    
                    <p>A pagina que você procura nao existe.</p>

            </div>

            


        </div>
    
{% endblock %}