


{% extends "views/layout.njk" %}


{% block head %}

    <link rel="stylesheet" href="/styles/users/create-user.css">
    <title>Criar Usuário - Castanharo Telemarketing</title>

{% endblock %}

{% block content %}

        <div class="page-title">

                {% if user %}
                    Editar Usuário 
                {% else %}
                    Criar Usuário   
                         
                {% endif %}
        </div>

        

{% if user %}

    <div class="form">
        
            <form id="#form" method="POST"  enctype="multipart/form-data">

                    
                <div class="item">
                        <div>
                        <input      
                            type="text" name="user_name"  value="{{user.name}}" placeholder="Nome do Usuário"/>
                        </div>
                </div>

                {% if user.id === admin_id %}
                    <div class="item">
                        <div>
                        <input      
                            type="password" name="password"  value="" placeholder="Digite a senha"/>
                        </div>
                    </div> 
                {% endif %} 

                <div class="item">
                        <div>
                        <input      
                            type="email" name="email"  value="{{user.email}}" placeholder="Digite o email" onkeydown="Mask.apply(this, 'formatEmail')"/>
                        </div>
                </div>

                <div class="item">
                    <div class=label><p class="select-p">Atribuir usúario a um funcionário (opcional)</p> </div>
                    <div>
                    <select class="item" name="worker_id">
                        
                        <option value="" 
                            selected disabled hidden>Escolha o funcionário</option>
                        <option value="">Nenhum</option>
                    {% for worker in workers %}       
                            <option value="{{worker.id}}"
                                {% if user.worker_id == worker.id %}
                                selected
                                {% endif %}     
                                >
                                
                                {{worker.name}}
                                
                            </option>
                    {% endfor %}

                    </select>
                    </div>
                </div>

                <div class="item">
                    <div class=label><p>Admin:</p> </div>
                        <div>
                            
                        <input      
                            type="checkbox" name="is_admin"  value="true" placeholder="" 
                            {% if user.admin %}
                                checked
                            {% endif %}/>
                        </div>
                </div>

        
                <div class="button"><button type="submit" class="btn-update" formaction="/usuarios/{{user.id}}/editar?_method=PUT">Atualizar</button> </div>
                
                <div class="button"> <button type="submit" class="btn-delete" formaction="/usuarios/{{user.id}}/deletar?_method=DELETE">Deletar</button> </div>
                

            </form>


        </div>

    <script>

    
        const delete_button = document.querySelector(".btn-delete")

        delete_button.addEventListener("click", function(event){

                const confirmation = confirm("Deletar Usuário? Essa operação não podera ser desfeita")

                if(!confirmation){
                        event.preventDefault()
                }   

        })
    </script>

{% elif not user %}

    <div class="form">
            <form id="#form" method="POST" action="/usuarios/criar"  enctype="multipart/form-data"
            onsubmit="verifyCreateUserFields(this, event)"
            >

                    
                    
                <div class="item">
                        <div>
                        <input      
                            type="text"  name="user_name"  value="" placeholder="Nome do Usuário"/>
                        </div>
                </div>

                
                <div class="item">
                        <div>
                        <input      
                            type="password" name="password"  value="" placeholder="Digite a senha"/>
                        </div>
                </div>
                
                <div class="item">
                        <div>
                        <input      
                            type="password" name="confirm_password"  value="" placeholder="Digite a confirmação da senha"/>
                        </div>
                </div>

                <div class="item">
                        <div>
                        <input      
                            type="email" name="email"  value="" placeholder="Digite o email"
                            onkeydown="Mask.apply(this, 'formatEmail')"/>
                        </div>
                </div>

                 <div class="item">
                    <div class=label><p class="select-p">Atribuir usúario a um funcionário (opcional)</p> </div>
                    <div>
                    <select class="item" name="worker_id">
                            <option value="">Nenhum</option>
                            <option value="" selected disabled hidden>Escolha o funcionário</option>
                    
                    {% for worker in workers %}
                            <option value="{{worker.id}}"
                                {% if user.worker_id == worker.id %}
                                selected
                                {% endif %}  
                                >
                                
                                {{worker.name}}
                                
                            </option>
                    {% endfor %}

                    </select>
                    </div>
                </div>

                <div class="item admin">
                        <div class=label><p>Admin:</p> </div>
                        <div>
                            
                        <input      
                            type="checkbox" name="is_admin"  value="true" placeholder=""/>
                        
                        </div>
                        
                </div>


 

                <div class="button"><button type="submit">Criar</button> </div>
                
                

            </form>
        </div>

        

{% endif %}


        <script src="/scriptForValidateFields.js"></script>
    
     
    {# <a href="/donations/receipt/{{donation.id}}" class="button" target="_blank">Gerar Recibo</a> #}

{% endblock %}  


