{% extends "views/layout.njk" %}


{% block head %}

    <link rel="stylesheet" href="/styles/workers/worker.css">
    <title>Usuário - {{user.name}} - Castanharo Telemarketing</title>

{% endblock %}

{% block content %}


    <div class="wrap">

        <div class="worker"><p>Usuário: {{user.name}} </p></div>
        <div class ="worker">

                <p>Email: {{user.email}}</p>

        </div>

    </div>
       {% if admin_user.id != user.id and admin_user.admin and user.admin %}
            
            
       {% else %}
            <div class="buttons">

                <div class="form-update">

                        <form name="form-update" class="form-update" action="/usuarios/{{user.id}}/editar" method="GET" enctype="multipart/form-data">
                    

                        <button class="update"  type="submit">
                            Editar
                        </button>
                        </form>
                </div>

                {# <div>
                    <form name="form-delete" class="form-delete" action="/usuarios/{{user.id}}/deletar?_method=DELETE" method="POST" enctype="multipart/form-data">
                    

                        <button class="cancel"  type="submit">
                            Deletar
                        </button>
                
                    </form>
                </div> #}

            </div>
                

            
       {% endif %}
        

    {# <a href="/donations/receipt/{{donation.id}}" class="button" target="_blank">Gerar Recibo</a> #}

{% endblock %}  


