<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {# <a href="/donations/receipt/{{results.donation.id}}" class="button">Download</a> #}

    <a href="data:application/pdf;base64,{{results.doc}}" download="file.pdf">
    
    {# <script>
        function downloadPDF({{results.doc}}) {
            const linkSource = `data:application/pdf;base64,${results.doc}`;
            const downloadLink = document.createElement("a");
            const fileName = "vct_illustration.pdf";

            downloadLink.href = linkSource;
            downloadLink.download = fileName;
            downloadLink.click();
        }
    </script>        #}

</body>

</html>