.form {
    max-width: 940px;
    margin: 30px auto;
}

.item {
    margin: 30px auto;


}

select.item {
    margin: 0px;
    font-size: 30px;
    color: var(--color-letters);
    background-color: var(--color-input);
    height: 38px;
    width: 400px;
    border-radius: 4px;
    border: 1px solid var(--color-input);
    box-shadow: 2px 2px 4px 1px var(--color-letters);

}

.item input[type="email"] {
    height: 36px;
    width: 600px;
}

.item:nth-of-type(3) input {
    width: 300px;
}

/* .item input {


    text-align: left;
    width: 300px;

} */




.item input {

    font-size: 30px;
    color: var(--color-letters);
    background-color: var(--color-input);
    height: 38px;
    width: 940px;
    border-radius: 4px;
    border: 1px solid var(--color-input);

    box-shadow: 2px 2px 4px 1px var(--color-letters);
}




.button button {

    margin-top: 20px;
    width: 180px;
    height: 32px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 4px;
    border: 1px;
    background-color: var(--color-call-to-action);
    color: var(--color-letters-clear);
    box-shadow: 1px 1px 1px 1px var(--color-letters)
}

.button button:hover {

    color: white;
    background-color: var(--color-hover);
}

button:active {

    background-color: var(--color-call-to-action);
    /* border: 1px solid black; */
}


.button button:hover {

    color: white;
    background-color: rgb(56, 56, 56);
}

button:active {

    background-color: var(--color-hover);
    /* border: 1px solid black; */
}