.wrap {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    margin: 0px auto;
}

.page-title {
    width: 70%;
    margin-left: 0px;
}

.new-worker {
    align-self: center;
}

.new-worker a:hover {
    background-color: var(--color-hover);

}

.new-worker a {


    border-radius: 5px;
    background-color: var(--color-call-to-action);
    color: var(--color-letters-clear);

    padding: 4px;
    color: var(--color-letters-clear);
    box-shadow: 1px 1px 1px 1px var(--color-letters);
}


div.columns {
    display: grid;
    grid-template-columns: 1fr;
    width: 800px;
    margin: 30px auto;
}

p.worker {
    margin: 10px 0px;
    color: var(--color-letters-clear);
    width: 70%;
    font-size: 24px;

}

p a {
    width: 30%;
    text-align: center;
    color: var(--color-letters-clear);
    text-decoration: underline;
}

p a:hover {

    color: var(--color-menu-hover);
    transition: ease-in 100ms all;
}