.form {
    max-width: 940px;
    margin: 30px auto;
}

.item {
    margin: 30px auto;


}

.item input {

    font-size: 30px;
    background-color: var(--color-input);
    color: var(--color-letters);
    border: 1px solid var(--color-input);
    box-shadow: 2px 2px 4px 1px var(--color-letters);
    height: 32px;
    width: 800px;
    border-radius: 4px;

}

.item input[type="email"] {
    height: 36px;
    width: 620px;
}



.item.admin {
    display: grid;
    grid-template-columns: 70px 30px;
    gap: 10px;
    align-items: center;

}

.label {
    font-weight: bold;
    font-size: 22px;
}

.item input[type="checkbox"] {
    height: 36px;
    width: 36px;
}

input[type="password"] {

    width: 420px;
}

/* .item input {


    text-align: left;
    width: 300px;

} */


.buttons {
    width: 800px;
}

select.item {
    margin: 0px;
    font-size: 30px;
    height: 32px;
    width: 400px;
    border-radius: 4px;
    box-shadow: 2px 0px 5px gray;
}




.button button {

    margin-top: 20px;
    width: 180px;
    height: 32px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 4px;

    background-color: var(--color-call-to-action);
    color: var(--color-letters-clear);
    border: 1px solid var(--color-call-to-action);
    box-shadow: 2px 2px 4px 1px var(--color-letters);
}

.button button:hover {

    color: white;
    background-color: var(--color-hover);
    border: 1px solid var(--color-hover);
}

.button .btn-delete {
    background-color: rgb(143, 13, 13);
    border: 1px rgb(143, 13, 13);
    color: white;
}

.button .btn-delete:hover {
    background-color: rgb(122, 9, 9);
    border: 1px rgb(122, 9, 9);
    color: white;
}


button:active {

    background-color: var(--color-hover);
    /* border: 1px solid black; */
}