{% extends "views/layout.njk" %}


{% block head %}

    <link rel="stylesheet" href="/styles/donations/balance.css">
    <link rel="stylesheet" href="/styles/footer.css">

    <title>Pesquisar Doações {{ngo.name}} - Castanharo Telemarketing</title>

{% endblock %}

{% block content %}
    

        <div class="page-title">
           
                {{ngo.name}}
        </div>

        <div class="sub-title">

            Calcular Balanço

        </div>

       

        <div class="search-paramns">
           
            <form class="search" method="GET" action="/instituicao/{{ngo.id}}/balanco">
         
                <input 
                    class="input-date"
                    type="date"
                    name="data_de_inicio"
                    placeholder=""
                    {% if search_terms %}
                        value="{{search_terms.startDate}}"
                    {% endif %}
                >
                <input 
                    class="input-date"
                    type="date"
                    name="data_de_termino"
                    placeholder=""
                    {% if search_terms %}
                        value="{{search_terms.endDate}}"
                    {% endif %}
                >

               <select class="item" name="funcionario">
                <option value=""selected disabled hidden>Escolha o funcionário</option>
                <option value="">Todos</option>

                {% for worker in workers %}
                        
                        <option value="{{worker.id}}"
                            {% if search_terms.worker_id == worker.id %}
                                    selected
                            {% endif %}
                        >
                            {{worker.name}}    
                        </option>
                        
                       
                {% endfor %}

                </select>
                

                <div class="radio">
                    <input 
                        type="radio"
                        name="ordenar"
                        placeholder=""
                        value="ASC" 
                        {% if search_terms.orderBy === "ASC" %}
                            checked
                        {% endif %}
                    > <label for="ASC">crescente</label>
                    <input 
                        type="radio"
                        name="ordenar"
                        placeholder=""
                        value="DESC"
                        {% if search_terms.orderBy === "DESC" %}
                            checked
                        {% endif %}
                    > <label for="DESC">decrescente</label>
                </div>


                <div class="clean">
                <a href="/instituicao/{{ngo.id}}/balanco">Limpar campos de busca</a>

                </div>
                
                <button type="submit">Calcular</button>
                
                
            </form> 
        </div>
             
        

        <table class="table">
            <tr>
                <th>Nº</th>
                <th>Valor</th>
                <th>Doador</th>
                <th>Funcionário</th>
                <th>Data</th>
                <th>Ver</th>
            </tr>
            

            {% for donation in donations %}
                <tr class="columns">
                    
                    <td
                        {% if donation.is_donation_canceled %}
                               class="donation-canceled" 
                        {% endif %}
                    >{{ donation.donation_number}}
                    </td>

                    <td class="donation_value">{{donation.donation_value}}</td>
                    <td>{{donation.donor_name}}</td>
                    <td>{{donation.worker.name}}</td>
                    <td class="created_at">{{donation.created_at}}</td>
                    <td><a href="/instituicao/{{ngo.id}}/doacao/{{donation.donation_number}}">VER</a></td>
                </tr>
            {% endfor %}


        <div class="div-total">

            <div> 
                <p class="total-date">Total do periodo de {{search_terms.startDate}} a {{search_terms.endDate}}

                    {% if search_terms.worker_id %}
                        
                        {% for worker in workers %}
                        
                            {% if worker.id == search_terms.worker_id %}
                                
                                de {{worker.name}}
                                
                            {% endif %}
                            
                        {% endfor %}

                    {% endif %}

                :</p>
            
                <p class="total">{{sum}}</p>
            </div>

            <!-- exportar -->
            <div class="export">
                <div class="button">
                    <button               
                    type="button"
                    onclick="
                    fetchExportDonations(
                        '{{ngo.id}}',
                        {
                        data_de_inicio: document.querySelector(`input[name='data_de_inicio']`).value,
                        data_de_termino: document.querySelector(`input[name='data_de_termino']`).value,
                        worker_id: '{{search_terms.worker_id}}',
                        for_balance: 'true'
                        },
                        document.querySelector('#download-btn')
                    );"
                    >Gerar Relatório</button>  
                </div>

                <div class="download-file-div">
                    <a class="inactive"
                    id="download-btn"
                    download="{{file_name}}">Baixar
                    </a>
                </div>
            </div>
            <!-- exportar -->
        </div>
        
        </table>
                
        <div class="pagination">
            <div>
            {% if search_terms.page != 1 %}
                <a id="previous_page" href="/instituicao/{{ngo.id}}/balanco?pagina={{search_terms.page|float - 1}}&limit=30&funcionario={{search_terms.worker_id}}&data_de_inicio={{search_terms.startDate}}&data_de_termino={{search_terms.endDate}}&ordenar={{search_terms.orderBy}}">
                << Página anterior </a>
            {% endif %}
            </div>
                  
                {# caracter invisivel #}
            <div>
            {% if donations| length >= search_terms.limit %}
                <a id="next_page" href="/instituicao/{{ngo.id}}/balanco?pagina={{search_terms.page|float + 1}}&limit=30&funcionario={{search_terms.worker_id}}&data_de_inicio={{search_terms.startDate}}&data_de_termino={{search_terms.endDate}}&ordenar={{search_terms.orderBy}}">
                
                Próxima página >></a>  
            {% endif %}
            </div>
        </div> 
        
                
    <script src="/scripts-for-list.js"></script>
    <script src="/scriptForExportDonations.js"></script>



   
    {# <a href="/donations/receipt/{{donation.id}}" class="button" target="_blank">Gerar Recibo</a> #}

{% endblock %}  


