{% extends "views/layout.njk" %}

{% block head %}


    <title>Talão - {{ngo.name}} - Castanharo Telemarketing </title>

    <link rel="stylesheet" href="/styles/donations/booklet.css">

{% endblock %}

{% block content %}
    
   
        <div class="page-title">
            
                {{ngo.name}}
                
        </div>

        <div class="sub-title">
            Talão: {{file_name}}
        </div>
        
            <div class="download">
                <a class="download-button" href="/file?path={{file_path}}" download="{{file_name}}"
                    
                >Baixar Talão</a> 
            

            <div class="back">

                <a href="/instituicao/{{ngo.id}}/gerar-talao">Voltar</a>
            </div>
        </div>
    {# <object 
        type="application/pdf"
        data="data:application/pdf;base64,{{file}}"
        width="50%"
        style="height: calc(50vh - 120px);"
        >
        Document preview
    </object> #}
    




    
    
{% endblock %}    