{% extends "views/layout.njk" %}

{% block head %}


    <title>Talão - {{ngo.name}} - Castanharo Telemarketing </title>

    <link rel="stylesheet" href="/styles/donations/booklet.css">

{% endblock %}

{% block content %}
    
   
        <div class="page-title">
            
                {{ngo.name}}
                
        </div>

        <div class="sub-title">
            Talão
        </div>
        
        <div class="download">
            <a href="data:application/pdf;base64,{{file}}" download="{{file_name}}">Baixar Talão</a> 
        </div>
    {# <object 
        type="application/pdf"
        data="data:application/pdf;base64,{{file}}"
        width="50%"
        style="height: calc(50vh - 120px);"
        >
        Document preview
    </object> #}
    {# <iframe src="data:application/pdf;base64,{{file}}" ></iframe> #}


    
    
{% endblock %}    