


{% extends "views/layout.njk" %}


{% block head %}

    <link rel="stylesheet" href="/styles/donations/create-donation.css">
    <title>Criar doacão - {{ngo.name}} - Castanharo Telemarketing</title>

{% endblock %}

{% block content %}

        <div class="page-title">
           
                {{ngo.name}}
        </div>

        <div class="sub-title">
            Criar doação Nº: {{ngo_donation_counter.donation_number}} 
        </div>
        <div class="actual_number">
            
        </div>

        <div class="form">
            <form id="#form" 
            action="/instituicao/{{ngo.id}}/doacao/nova/criar"
            method="post" 
            enctype="multipart/form-data"
            onsubmit="verifyEmptyInput(this, event)"
            >

                    
                    
                <div class="item">
                        <div>
                        <input      
                            type="text" name="donor_name" value="" placeholder="Nome do Doador"
                            onkeypress="removeFormError(this)"
                            onblur="Mask.apply(this, 'formatName')"
                            />
                        </div>
                </div>

                <div class="item">
                        <div>
                        <input      
                            type="text" name="donation_value" value="" placeholder="00,00"
                            onkeypress="removeFormError(this)"
                            onkeydown="Mask.apply(this, 'formatBRL')"
                            />
                        </div>
                </div>

                <div class="item">
                    <div>
                    <select class="item" name="worker_id"
                    onchange="removeFormError(this)"
                    >
                    
                    {% for worker in workers %}
                            <option value="" selected disabled hidden>Escolha o funcionário</option>
                            <option value="{{worker.id}}"
                                
                                >
                                
                                {{worker.name}}
                                
                            </option>
                    {% endfor %}

                    </select>
                    </div>
                </div>

                
                
                
                <input      
                    type="hidden" name="is_payed" value="true" placeholder="Nome do Doador"/>
                
                {# <div class="item"></div> #}


                <div class="button"><button type="submit" >Criar</button> </div>
                
                

            </form>
        </div>


        

    <script src="/scriptForValidateFields.js"></script>
        
    {# <a href="/donations/receipt/{{donation.id}}" class="button" target="_blank">Gerar Recibo</a> #}

{% endblock %}  


