{% extends "views/layout.njk" %}



{% block head %}
    <link rel="stylesheet" href="/styles/index.css">
    <title>Document</title>
{% endblock %}   

{% block content %}
    <p>
        N°:{{response.donation.donation_number}}
        Valor: {{response.donation.donation_value}}

    </p>


    <a href="data:application/pdf;base64,{{response.file}}" download="{{response.file_name}}">Baixar Recibo</a> 
    {# <script>
        const downloadLink = response.getElement('a');
    
        downloadLink.click();
    </script> #}

    {# <a href="">Visiualizar</a>
    
    {% if condition %}
        
    {% endif %} #}
    {# <iframe name="recibo" src="data:application/pdf;base64,{{response.file}}"></iframe> #}
{% endblock %}   