{% extends "views/layout.njk" %}


{% block head %}

   
    <title>Doação nº {{donation.donation_number}} - Castanharo Telemarketing</title>

{% endblock %}

{% block content %}

    <p>
        Doação N°:{{donation.donation_number}}
        Valor: {{donation.donation_value}}

    </p>

    <iframe name="{{file_name}}" src="data:application/pdf;base64,{{file}}"></iframe>

    {# <a href="/donations/receipt/{{donation.id}}" class="button" target="_blank">Gerar Recibo</a> #}

{% endblock %}  


