{% extends "views/layout.njk" %}


{% block head %}

    <link rel="stylesheet" href="/styles/donations/donation.css">
    <title>Doação nº {{donation.donation_number}} - Castanharo Telemarketing</title>

{% endblock %}

{% block content %}
    <div class="content">

        <div class="page-title">
           
                {{ngo.name}}
        </div>


        <div class="donation-info">
            <p>
                Doação N°: <a>{{donation.donation_number}} </a>
            </p>
            <p>
                Valor: {{formated_value}}
            </p> 
            <p>
                Nome: {{donation.donor_name}} 
            </p>
           
            <p>
                Criado em: {{formated_date}}
            </p>   
                        
            <p>
                Funcionária: {{donation.worker.name}}
            </p>
        </div>

        <div class="buttons">
            <button class="show"
            onclick="toggleIframe()">
                Ver Recibo
            </button>
            <button>
                Gerar Recibo
            </button>
        </div>
        

        <div >
        
            <iframe class="iframe" name="{{file_name}}" src="data:application/pdf;base64,{{file}}"></iframe>

        </div>
    </div>
    {# <a href="/donations/receipt/{{donation.id}}" class="button" target="_blank">Gerar Recibo</a> #}

{% endblock %}  


