{% extends "views/layout.njk" %}


{% block head %}

    <link rel="stylesheet" href="/styles/donations/donation.css">
    <title>Doação nº {{donation.donation_number}} - Castanharo Telemarketing</title>

{% endblock %}

{% block content %}
    <div class="content">

        <div class="wrap-title">
            <div class="page-title">
            
                    {{ngo.name}}
            </div>

            <div class="new-donation"><a href="/instituicao/{{ngo.id}}/doacao/nova">Nova doação</a></div>
        </div>

        <div class="donation-info">
            <p>
                Doação N°: <a>{{donation.donation_number}} </a>
            </p>
            <p>
                Valor: {{formated_value}}
            </p> 
            <p>
                Criado em: {{formated_date}}
            </p>   
                        
            <p>
                Nome: {{donation.donor_name}} 
            </p>
           
            <p>
                Funcionária: {{donation.worker.name}}
            </p>
            
            {% if donation.is_email_sent %}
                <p class="email-sent">
                EMAIL ENVIADO
                </p> 
            {% endif %}
            
            {% if donation.is_donation_canceled %}
                <p class="canceled">
                CANCELADO
                </p> 
            {% endif %}

           
        </div>

       
        <div class="buttons">

            <div>
                
                <button type="submit" form="form-email"  class="button email-form-button">
                    Enviar Recibo
                </button>
                
                
            </div>
            <div>
                <button class="show"
                onclick="toggleIframe()">
                    Ver Recibo
                </button>
            </div>


            {# button para escolher doador para enviar email #}

            <div>
                <form name="form-delete" class="form-delete" action="/instituicao/{{ngo.id}}/doacao/{{donation.donation_number}}/cancelar-doacao" method="POST" enctype="multipart/form-data">
                

                <button class="cancel"  type="submit">
                    Cancelar Doação
                </button>
            
                </form>
            </div>
        </div>

        
                
        <div class="send-email-form">
            <form name="form-email" 
            id="form-email"
            {# class="form-email"   #}
            action="/instituicao/{{ngo.id}}/doacao/{{donation.donation_number}}/enviar-email" method="POST" 
            enctype="multipart/form-data">
            
                <div class="item">
                    <input type="text"
                    id="email" 
                    name="email" 
                    form="form-email"
                    value="" 
                    autocomplete="off"
                    placeholder="Pesquise por nome ou email"
                    onfocus="showList()"
                    oninput="searchDonor(this)"
                    
                    >
                </div>

                <ul class="donors-list"></ul>

                <div class="item">
                    <select name="message_id" id="message_id">
                    {% for message in messages %}
                        <option value="" selected disabled hidden>Escolha a mensagem</option>
                        <option value="{{message.id}}">
                            {{message.name}}                           
                        </option>
                    {% endfor %}
                    </select>
                </div>

                <input type="hidden" id="donation_id" name="donation_id" value="{{donation.id}}">
                <input type="hidden" id="donors_ids" name="donors_ids" value="">

            </form>
            
               

            <div class="receivers"></div>   



            
        </div>
        
        

        <iframe class="iframe" name="{{file_name}}" src="data:application/pdf;base64,{{file}}" title="{{donation.donation_number}}"></iframe>

        
    
    </div>
        <div class="change">
            <a href="/instituicao/{{ngo.id}}/doacao/{{donation.donation_number|float - 1}}"><< doação anterior</a> 
              
                {#caracter invisivel  #}
            <a href="/instituicao/{{ngo.id}}/doacao/{{donation.donation_number|float + 1}}">proxima doação >></a>
        </div>
    
    
    <script>

        


        const form = document.querySelector(".form-delete")

            form.addEventListener("submit", function(event){

                    const confirmation = confirm("Cancelar a doação?")

                    if(!confirmation){
                            event.preventDefault()
                    }   

            })
    </script>
    {# <a href="/donations/receipt/{{donation.id}}" class="button" target="_blank">Gerar Recibo</a> #}

{% endblock %}  


