{% extends "views/layout.njk" %}

{% block head %}
    
    <title>Gerar Talão - {{ngo.name}} - Castanharo Telemarketing </title>

    <link rel="stylesheet" href="/styles/donations/generate-booklet.css">

{% endblock %}

{% block content %}
    
   
        <div class="page-title">
            
                {{ngo.name}}
                
        </div>

        <div class="sub-title">
            Gerar Talão
        </div>
        <div class="actual_number">
            Nº atual das Doações: {{donation_counter.donation_number|float - 1}}
        </div>


        <form class="form" id="#form" action="/instituicao/{{ngo.id}}/gerar-talao" method="POST">

            <input type="hidden" name="ngo_id" value="{{ngo.id}}">

            
            <div class="label"> <p>Inicio</p> </div> <div class="label"> <p>Fim</p> </div><div> </div>
            <div class="item">

                    <div>
                        
                    <input      
                        type="number" name="first_number"  placeholder="0"/>
                    </div>

            </div> 

           
            <div class="item">

                    <div>
                       
                    <input      
                        type="number" name="last_number"  placeholder="0"/>
                    </div>

            </div>
            
            <div class="button">
                <button 
                {# type="button"
                    onclick="warnBigFiles(
                            event,
                            document.querySelector(`input[name='first_number']`).value,
                            document.querySelector(`input[name='last_number']`).value
                );
                fetchGenerateBooklet(
                'booklet',
                {
                interval: [
                    document.querySelector(`input[name='first_number']`).value,
                    document.querySelector(`input[name='last_number']`).value
                ],
                ngo_id: document.querySelector(`input[name='ngo_id']`).value
                },
                document.querySelector('#download-btn')
                );" #}
                >Gerar</button> 
            </div>
               
            

        </form>


        
        <div class="download-file-div">
            <a class="inactive"
            id="download-btn"
            download="{{file_name}}">Baixar
            </a>
        </div>
        

        

        {# <script src="/scriptForGenerateBooklet.js"></script> #}


        {# //////////////////////// #}
{# 

        <div class="thisMonthBooklets">

            <div>Esse Mes:</div>
                {% for booklet in thisMonthBooklets %}
                
                    <a href="/instituicao/{{ngo.id}}/talao/{{thisMonth_Year}}/{{booklet}}">{{booklet}}</a>
                    
                {% endfor %}

        </div>

        <div class="lastMonthBooklets">

            <div>Mes Passado:</div>
                {% for booklet in lastMonthBooklets %}
                
                    <a href="/instituicao/{{ngo.id}}/talao/{{lastMonth_Year}}/{{booklet}}">{{booklet}}</a>
                    
                {% endfor %}

        </div> #}

       
        {# <form class="form" action="/instituicao/{{ngo.id}}/gerar-talao" method="get" enctype="multipart/form-data"></form> #}



    
{% endblock %}    