{% extends "views/layout.njk" %}

{% block head %}


    <title>Talão - {{ngo.name}} - Castanharo Telemarketing </title>

    <link rel="stylesheet" href="/styles/donations/booklet.css">
    <link rel="stylesheet" href="/styles/donations/import-donations.css">

{% endblock %}

{% block content %}
    
   
        <div class="page-title">
            
                {{ngo.name}}
                
        </div>

        <div class="sub-title">
            Importar doações:
        </div>
        
        <div class="example">

            <a 
            href="/file?path={{file_path}}&file_name={{file_name}}">baixar arquivo de exemplo</a>
        </div>

        

        <div class="form">
            <form id="#form" action="/instituicao/{{ngo.id}}/doacao/importar" method="post" enctype="multipart/form-data">

                    
                    
                <div class="item">
                        <div>
                        <input      
                            type="file" class="file-input" name="file" value="" placeholder="Escolha o arquivo" accept=".xls,.xlsx"/>
                        </div>
                </div>


                <div class="button"><button type="submit">Importar</button> </div>
                
                

            </form>
        </div>

        
        
        
       

    
    
{% endblock %}    