{% extends "views/layout.njk" %}


{% block head %}

    <link rel="stylesheet" href="/styles/donations/search-donation.css">
    <title>Pesquisar Doações {{ngo.name}} - Castanharo Telemarketing</title>

{% endblock %}

{% block content %}
    <div class="content">

        <div class="page-title">
           
                {{ngo.name}}
        </div>

        <div class="sub-title">

            Pesquisar Doações

        </div>

       

        <div class="search-paramns">
           
            <form class="search" method="GET" action="/instituicao/{{ngo.id}}/doacao/listar">
         
         
         
            
                <input 
                    class="text"
                    type="text"
                    name="doador"
                    placeholder="Buscar por Doadores"
                    {% if search_terms %}
                        value="{{search_terms.donor_name}}"
                    {% endif %}
                >
                <input 
                    class="text"
                    type="text"
                    name="funcionario"
                    placeholder="Buscar por Funcionarios"
                    {% if search_terms %}
                        value="{{search_terms.worker_name}}"
                    {% endif %}
                >
                <input 
                    type="date"
                    name="data_de_inicio"
                    placeholder=""
                    {% if search_terms %}
                        value="{{search_terms.startDate}}"
                    {% endif %}
                >
                <input 
                    type="date"
                    name="data_de_termino"
                    placeholder=""
                    {% if search_terms %}
                        value="{{search_terms.endDate}}"
                    {% endif %}
                >

                <input type="number" 
                name="numero_da_doacao"
                placeholder="Buscar por Numero da doação"
                {% if search_terms %}
                        value="{{search_terms.donation_number}}"
                {% endif %}
                >
                

                <div class="radio">
                    <input 
                        type="radio"
                        name="ordenar"
                        placeholder=""
                        value="ASC" 
                        {% if search_terms.orderBy === "ASC" %}
                            checked
                        {% endif %}
                    > <label for="ASC">crescente</label>
                    <input 
                        type="radio"
                        name="ordenar"
                        placeholder=""
                        value="DESC"
                        {% if search_terms.orderBy === "DESC" %}
                            checked
                        {% endif %}
                    > <label for="DESC">decrescente</label>
                </div>
                
                <button type="submit">Pesquisar</button>
                
                
            </form> 
        </div>
             
        

        <table class="table">
            <tr>
                <th>Nº</th>
                <th>Valor</th>
                <th>Doador</th>
                <th>Funcionário</th>
                <th>Data</th>
                <th>Ver</th>
            </tr>
            

            {% for donation in donations %}
                <tr class="columns">
                    <td>{{ donation.donation_number}}</td>
                    <td class="donation_value"> 
                        
                        {{donation.donation_value}}
                    </td>
                    <td>{{donation.donor_name}}</td>
                    <td>{{donation.worker.name}}</td>
                    <td class="created_at">{{donation.created_at}}</td>
                    <td><a href="/instituicao/{{ngo.id}}/doacao/{{donation.donation_number}}">VER</a></td>
                </tr>
            {% endfor %}

        </table>
                
        <div class="pagination">
            <div>
            {% if search_terms.page != 1 %}
                <a id="previous_page" href="/instituicao/{{ngo.id}}/doacao/listar?pagina={{search_terms.page|float - 1}}&limit=30&doador={{search_terms.donor_name}}&funcionario={{search_terms.worker_name}}&data_de_inicio={{search_terms.startDate}}&data_de_termino={{search_terms.endDate}}&ordenar={{search_terms.orderBy}}">
                << Página anterior </a>
            {% endif %}
            </div>
                  
                {# caracter invisivel #}
            <div>
            {% if donations| length >= search_terms.limit %}
                <a id="next_page" href="/instituicao/{{ngo.id}}/doacao/listar?pagina={{search_terms.page|float + 1}}&limit=30&doador={{search_terms.donor_name}}&funcionario={{search_terms.worker_name}}&data_de_inicio={{search_terms.startDate}}&data_de_termino={{search_terms.endDate}}&ordenar={{search_terms.orderBy}}">
                
                Próxima página >></a>  
            {% endif %}
            </div>
        </div> 
        
                
    <script src="/scripts-for-list.js"></script>

   
    {# <a href="/donations/receipt/{{donation.id}}" class="button" target="_blank">Gerar Recibo</a> #}

{% endblock %}  


