{% extends "views/layout.njk" %}


{% block head %}

    <link rel="stylesheet" href="/styles/donations/search-donation.css">
    <title>Doação nº {{donation.donation_number}} - Castanharo Telemarketing</title>

{% endblock %}

{% block content %}
    <div class="content">

        <div class="page-title">
           
                {{ngo.name}}
        </div>

        <div class="sub-title">

            Pesquisar Doações

        </div>

        

                
        <table class="table">
            <tr>
                <th>Nº</th>
                <th>Valor</th>
                <th>Doador</th>
                <th>Funcionário</th>
                <th>Data</th>
                <th>Ver</th>
            </tr>
            

            {% for donation in donations %}
                <tr class="columns">
                    <td>{{ donation.donation_number}}</td>
                    <td class="donation_value"> 
                        
                        {{donation.donation_value}}
                    </td>
                    <td>{{donation.donor_name}}</td>
                    <td>{{donation.worker.name}}</td>
                    <td>{{donation.created_at}}</td>
                    <td><a href="/instituicao/{{ngo.id}}/doacao/{{donation.donation_number}}">VER</a></td>
                </tr>
            {% endfor %}

        </table>
                
                
    <script src="/scripts-for-list.js"></script>

   
    {# <a href="/donations/receipt/{{donation.id}}" class="button" target="_blank">Gerar Recibo</a> #}

{% endblock %}  


