







{% extends "views/layout.njk" %}


{% block head %}

    <link rel="stylesheet" href="/styles/donations/create-donation.css">
    <title>Atualizar doacão - {{donation.donation_number}} - Castanharo Telemarketing</title>

{% endblock %}

{% block content %}

        <div class="page-title">
           
                Atualizar Doação
        </div>

        <div class="sub-title">
             Doação Nº: {{donation.donation_number}} 
        </div>
        <div class="actual_number">
            
        </div>

        <div class="form">
            <form id="#form" class="form" action="/instituicao/{{ngo.id}}/doacao/{{donation.donation_number}}/atualizar?_method=PUT" method="post" enctype="multipart/form-data">

                <label>Nome do doador</label>    
                
                <div class="item">
                        <div>
                        <input      
                            type="text" name="donor_name" value="{{donation.donor_name}}" placeholder="Nome do Doador"
                            onkeydown="removeFormError(this)"
                            onblur="Mask.apply(this, 'formatName')"
                            />
                        </div>
                </div>

                <label>Valor da doação</label>
                <div class="item">
                        <div>
                        <input      
                            type="text" name="donation_value" value="{{donation.donation_value}}" placeholder="00,00"
                            onkeydown="removeFormError(this); Mask.apply(this, 'formatBRL');"
                            />
                        </div>
                </div>

                <label>Funcionário</label>
                <div class="item">
                <select class="item"  name="worker_id"
                onchange="removeFormError(this)"
                >
                
                {% for worker in workers %}

                        {% if not donation.worker_id %}
                            
                            <option value="" selected disabled hidden>Escolha o funcionário</option>
                            
                            <option value="{{worker.id}}"
                                
                                >
                                
                                {{worker.name}}
                                
                            </option>
                            
                       
                        {% endif %}   
                        
                        <option value="{{worker.id}}" 
                        {% if donation.worker_id == worker.id %}
                            selected    
                        {% endif %}
                        >
                                
                            {{worker.name}}
                            
                        </option>
                        

                {% endfor %}

                </select>
                </div>


                <label for="donation_date">Data do recibo</label>
                <div class="item">
                        <div>
                        <input      
                            type="date" name="donation_date"
                            value="{{date}}"
                            onchange="removeFormError(this)"
                            
                            />
                        </div>
                </div>





                {# <div class="item"></div> #}
                        <div>
                        <input      
                            type="hidden" name="donation_id" value="{{donation.id}}"/>
                        </div>
                
                <label>Cancelado:</label> 
                <div class="item">
                    
                        <div>
                            
                        <input      
                            type="checkbox" name="is_donation_canceled" value="true" placeholder="" 
                            {% if donation.is_donation_canceled %}
                                checked
                            {% endif %}/>
                        </div>

                       
                </div>


                <div class="button"><button type="submit">Atualizar</button> </div>
                
                

            </form>
        </div>


        <script src="/scriptForValidateFields.js"></script>
        <script src="/scripts-for-input.js"></script>
        <script>

            const form = document.querySelector(".form")

            form.addEventListener("submit", function(event){

                    const confirmation = confirm("deseja atualizar a doação tualizar a doação?")

                if(!confirmation){
                        event.preventDefault()
                }   

            })
        </script>


        
    {# <a href="/donations/receipt/{{donation.id}}" class="button" target="_blank">Gerar Recibo</a> #}

{% endblock %}  


