.form {
    max-width: 940px;
    margin: 50px auto;
}

.item {
    margin: 3px auto 20px auto;
    height: 70px;


}

.sub-title {
    color: var(--color-letters-clear);
}


.item input {



    font-size: 30px;
    color: var(--color-letters);
    background-color: var(--color-input);
    height: 38px;
    width: 940px;
    border-radius: 4px;
    border: 1px solid var(--color-input);

    box-shadow: 2px 2px 4px 1px var(--color-letters);
}

.item div {
    height: 38px;
}


.item.admin {
    display: grid;
    grid-template-columns: 70px 30px;
    gap: 10px;
    align-items: center;
}

label {
    margin: 0 auto;
    font-weight: bold;
    font-size: 22px;
    color: var(--color-letters-clear);
}

.item input[type="checkbox"] {
    height: 36px;
    width: 36px;
}

.item input[type="date"] {
    height: 38px;
    width: 210px;

}

/* .item input {


    text-align: left;
    width: 300px;

} */


.item input[name="donation_value"] {

    width: 300px;
    text-align: end;
}

select.item {
    margin: 0px 0px 30px;
    font-size: 30px;
    color: var(--color-letters);
    background-color: var(--color-input);
    height: 38px;
    width: 400px;
    border-radius: 4px;
    border: 1px solid var(--color-input);
    box-shadow: 2px 2px 4px 1px var(--color-letters);

}




.button button {

    margin-top: 20px;
    width: 180px;
    height: 32px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 4px;
    border: 1px;
    background-color: var(--color-call-to-action);
    color: var(--color-letters-clear);
    box-shadow: 1px 1px 1px 1px var(--color-letters)
}

.button button:hover {

    color: white;
    background-color: var(--color-hover);
}

button:active {

    background-color: var(--color-call-to-action);
    /* border: 1px solid black; */
}

.email input[type="email"] {
    height: 35px;
}