


{% extends "views/layout.njk" %}


{% block head %}

    <link rel="stylesheet" href="/styles/ngos/create-message.css">
    <title>Criar Menssagem de Email - Castanharo Telemarketing</title>

{% endblock %}

{% block content %}

        <div class="page-title">

                
            Criar Menssagem de Email Programada
                
        </div>

        



    <div class="form">
            <form id="#form" method="POST" action="/instituicao/{{ngo.id}}/criar-menssagem"  enctype="multipart/form-data">

                
                <div class="item">
                        <div>
                        <input      
                            type="text"  name="name"  value="" placeholder="Nome da menssagem"/>
                        </div>
                </div>
                    
                <div class="item">
                        <div>
                        <input      
                            type="text"  name="subject"  value="" placeholder="Assunto do email"/>
                        </div>
                </div>

                
                {# <div class="item">
                        <div>
                        <input      
                            type="text" name="message"  value="" placeholder="Conteudo do email"/>
                        </div>
                </div> #}

                <div class="item">
                    <textarea name="message" placeholder="Conteudo do email" ></textarea>
                </div>


                <div class="item"> 
                        Data de inicio:
                        <div >
                            <input type="date" name="start_date" 
                            min="2023-01-01" max="2023-12-31"
                            >
                        </div>
                </div>

                <div class="item">
                        Date de termino:
                        <div>
                            <input type="date" name="end_date" 
                            min="2023-01-01" max="2023-12-31"
                            >
                        </div>
                </div>

 

                <div class="button"><button type="submit">Definir</button> </div>
                
                

            </form>
        </div>


        




        
    
     

{% endblock %}  

