


{% extends "views/layout.njk" %}


{% block head %}

    <link rel="stylesheet" href="/styles/ngos/create-message.css">
    <title>Criar Mensagem de Email - Castanharo Telemarketing</title>

{% endblock %}

{% block content %}

        <div class="page-title">

                
            Criar Mensagem de Email 
                
        </div>

        



    <div class="form">
            <form id="#form" method="POST" action="/instituicao/{{ngo.id}}/criar-mensagem"  enctype="multipart/form-data">

                <label>Nome da mensagem</label>
                <div class="item">
                        <div>
                        <input      
                            type="text"  name="name"  value="" placeholder="Nome da mensagem"/>
                        </div>
                </div>
                    

                <label>Assunto</label>
                <div class="item">
                        <div>
                        <input      
                            type="text"  name="subject"  value="" placeholder="Assunto do email"/>
                        </div>
                </div>

                
                {# <div class="item">
                        <div>
                        <input      
                            type="text" name="message"  value="" placeholder="Conteudo do email"/>
                        </div>
                </div> #}

                <label>Conteudo do email</label>
                <div class="item">
                    <textarea name="message" placeholder="Conteudo do email" ></textarea>
                </div>


                

                <div class="button"><button type="submit">Definir</button> </div>
                
                

            </form>
        </div>


        




        
    
     

{% endblock %}  

