{% extends "views/layout.njk" %}

{% block head %}
    
    <title>Contador - {{ngo.name}} - Castanharo Telemarketing </title>

    <link rel="stylesheet" href="/styles/ngos/ngo-counter.css">

{% endblock %}

{% block content %}
    
   
        <div class="page-title">
            
                {{ngo.name}}
                
        </div>

        <div class="sub-title">
            Definir Número do Contador
        </div>
        <div class="actual_number">
            Nº Atual: {{ngo_donation_counter.donation_number}}
        </div>


        <form class="form" id="#form" action="/instituicao/{{ngo.id}}/contador/definir" method="post" enctype="multipart/form-data">

                
                
            <div class="item">

                    <div>
                        
                    <input      
                        type="number" name="donation_number" value="{{ngo_donation_counter.donation_number}}"/>
                    </div>

            </div>

            <div class="button"><button type="submit">Definir</button> </div>
               
            

        </form>


        

        


        <script>

            const form = document.querySelector("form")

            form.addEventListener("submit", function(event){

                    const confirmation = confirm("Deseja alterar o numero do contador?")

                    if(!confirmation){
                            event.preventDefault()
                    }   

            })

            
        </script>
            

{% endblock %}