{% extends "views/layout.njk" %}

{% block head %}


    <title>Atualizar configuração do template - {{ngo.name}} - Castanharo Telemarketing </title>

    <link rel="stylesheet" href="/styles/donations/booklet.css">
    <link rel="stylesheet" href="/styles/donations/import-donations.css">

{% endblock %}

{% block content %}
    
   
        <div class="page-title">
            
                {{ngo.name}}
                
        </div>

        <div class="sub-title">
            Atualizar configuração do template 
        </div>
             

        <div class="form">
            <form id="#form" action="/instituicao/{{ngo.id}}/template-config" method="post" enctype="multipart/form-data">

                    
                    
                <div class="item">
                        <div>
                        <input      
                            type="file" class="file-input" name="file" value="" placeholder="Escolha o arquivo" accept="application/json"/>
                        </div>
                </div>


                <div class="button"><button type="submit">Enviar</button> </div>
                
                

            </form>
        </div>

        
        
        
       

    
    
{% endblock %}    