{% extends "views/layout.njk" %}

{% block head %}
    
    <title>{{ngo.name}} - Castanharo Telemarketing</title>

    <link rel="stylesheet" href="/styles/ngos/ngo.css">

{% endblock %}

{% block content %}
    
   
        <div class="page-title">
        
                {{ngo.name}}
           
        </div>

        <p>{{ngo_id}}</p>
        

        <div class="ngo_actions">

            

            <a href="/instituicao/{{ngo.id}}/doacao/nova">
                <p>Nova Doação</p>
            </a>

            <a href="/instituicao/{{ngo.id}}/doacao/listar">
                <p>Procurar Doações</p>
            </a>

            <a href="/instituicao/{{ngo.id}}/doacao/ultima">
                <p>Última Doação</p> 
            </a>

            <a href="/instituicao/{{ngo.id}}/gerar-talao">
                <p>Gerar Talão de Recibos</p>
            </a>

            <a href="/instituicao/{{ngo.id}}/contador">
                <p>Definir Número do Contador</p>
            </a>

            <a href="/instituicao/{{ngo.id}}/balanco">
                <p>Balanço</p>
            </a>

            <a href="/instituicao/{{ngo.id}}/doacao/importar">
                <p>Importar Doações</p>
            </a>

            <a href="/instituicao/{{ngo.id}}/definir-email">
                <p>Definir email</p>
            </a>




                    
            
        </div>


        

        


        <script src="/scripts/scripts.js"></script>
            

{% endblock %}