{% extends "views/layout.njk" %}

{% block head %}
    
    <title>{{ngo.name}} - Castanharo Telemarketing</title>

    <link rel="stylesheet" href="/styles/ngos/ngo.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

{% endblock %}

{% block content %}
    

        <div class="wrap">

            <div class="page-title">
            
                    {{ngo.name}}


                
                    
                
            
            </div>
            <div class=new-ngo>   
                        
                <a href="/instituicao/{{ngo.id}}/gerenciar">
                    Gerenciar Instituição
                </a>
            

            </div>
        </div>

        

        
        <div class="ngo_actions">

            <a href="/instituicao/{{ngo.id}}/doacao/nova">
                <p>Nova Doação</p>
            </a>

            <a href="/instituicao/{{ngo.id}}/doacao/listar">
                <p>Procurar Doações 
                   {# <span class="material-symbols-outlined">
                    search
                    <span> #}
                </p> 
                
            </a>

            <a href="/instituicao/{{ngo.id}}/doacao/ultima">
                <p>Última Doação</p> 
            </a>

            <a href="/instituicao/{{ngo.id}}/gerar-talao">
                <p>Gerar Talão de Recibos</p>
            </a>


            <a href="/instituicao/{{ngo.id}}/balanco">
                <p>Balanço</p>
            </a>

            <a href="/instituicao/{{ngo.id}}/doacao/importar">
                <p>Importar Doações</p>
            </a>

            <a href="/instituicao/{{ngo.id}}/doacao/exportar">
                <p>Exportar Doações</p>
            </a>

            {# <a href="/instituicao/{{ngo.id}}/contador">
                <p>Definir Número do Contador</p>
            </a>
            #}
            

            


            {# colocar o definir email e criar msgs dentro desse #}
            {# <a href="">
                <p>Gerenciar Email e Menssagens</p>
            </a> #}




                    
            
        </div>


        

        



{% endblock %}