{% extends "views/layout.njk" %}

{% block head %}
    
    <title>Castanharo Telemarketing</title>

    <link rel="stylesheet" href="/styles/ngos/ngos.css">


{% endblock %}

{% block content %}
    
   
        <div class="page-title">Instituições</div>

            
        <div class="ngos-grid">

            {% for ngo in ngos %}
                
               <!-- <img src="{{ngo.image}}" alt="Imagem de Instituição">
                -->
                
            
                <a class="index-ngo"href="/instituicao/{{ngo.id}}">
                    
                        <div class="ngo_name">{{ngo.name}}:</div>

                        <div class="ngo_full_name">{{ngo.full_name}}</div>
                    
                    
                </a>
               
            
            {% endfor %}


        </div>

        


        <script src="/scripts/scripts.js"></script>
            

{% endblock %}