{% extends "views/layout.njk" %}

{% block head %}
    
    <title>Instituições - Castanharo Telemarketing </title>

    <link rel="stylesheet" href="/styles/ngos/ngos.css">


{% endblock %}




{% block content %}
    

        <div class="wrap">
            <div class="page-title">Instituições</div>


            {# {% if admin %}
                <div class=new-ngo>   
                    
                    <a href="/gerenciar-instituicoes">
                        Gerenciar Instituições
                    </a>
                

                </div>
            {% endif %} #}

            <div class=new-ngo>   
                    
                <a href="/instituicao/criar">Nova Instituição</a> 

            </div>

        </div>

        {# <a href="/instituicao/criar">Nova Instituição</a> #}
           
            
        <div class="ngos-grid">

            {% for ngo in ngos %}
                
               <!-- <img src="{{ngo.image}}" alt="Imagem de Instituição">
                -->
                
            
                <a class="index-ngo"href="/instituicao/{{ngo.id}}">
                    
                        <div class="ngo_name">{{ngo.name}}:</div>

                        <div class="ngo_full_name">{{ngo.full_name}}</div>
                    
                    
                </a>
               
            
            {% endfor %}


        </div>

        


        <script src="/scripts/scripts.js"></script>
            

{% endblock %}