


{% extends "views/layout.njk" %}


{% block head %}

    
    <link rel="stylesheet" href="/styles/workers/create-worker.css">
    <title>Criar Doador - Castanharo Telemarketing</title>

{% endblock %}

{% block content %}

        <div class="page-title">
           Criar Doador 
            
        </div>

        <div class="sub-title">
            
        </div>
        <div class="actual_number">
            
        </div>

        <div class="form">
            <form id="#form" 
        {% if donor %}
            action="/doadores/{{donor.id}}/editar?_method=PUT"
        {% else%}
            action="/doadores/criar" 
        {% endif %}
            method="post" enctype="multipart/form-data">

                    
                    
                <div class="item">
                        <div>
                           
                        <input      
                            type="text" name="name" 
                            {% if donor %}
                            value="{{donor.name}}"
                            {% else %}
                            value=""
                            {% endif %}
                            placeholder="Nome do Doador"/>
                        </div>
                </div>

                
                    
                <div class="item">
                        <div>
                        <input      
                            type="email" name="email" 
                            {% if donor %}
                            value="{{donor.email}}"
                            {% else %}
                            value=""
                            {% endif %}
                            placeholder="email"
                            onkeydown="Mask.apply(this, 'formatEmail')"
                            style height=34px>
                        </div>
                </div>
            
                    
                <div class="item">
                        <div>
                        <input
                        class="phone"      
                            type="text" name="phone" 
                            {% if donor %}
                            value="{{donor.phone}}"
                            {% else %}
                            value=""
                            {% endif %}
                            placeholder="telefone"
                            onkeydown="Mask.apply(this, 'formatPhone')"/>
                        </div>
                </div>

                {% if workers %}
                  <select class="item" name="worker_id">
                        
                        <option value="" 
                            selected disabled hidden>Escolha o funcionário</option>
                        <option value="">Nenhum</option>
                    {% for worker in workers %}       
                            <option value="{{worker.id}}"
                            {% if donor.worker_id == worker.id %}
                                selected
                            {% endif %}
                            >
                                {{worker.name}}
                            </option>
                    {% endfor %}

                    </select>
                {% endif %}



                <div class="button"><button type="submit">
                    {% if donor %}
                    Editar
                    {% else %}
                    Criar 
                    {% endif %}
                   
                    </button> </div>
                
                

            </form>
        </div>

        

        
    {# <a href="/donations/receipt/{{donation.id}}" class="button" target="_blank">Gerar Recibo</a> #}

{% endblock %}  


