{% extends "views/layout.njk" %}


{% block head %}

    <link rel="stylesheet" href="/styles/donors/search-donors.css">
    <link rel="stylesheet" href="/styles/footer.css">

    <title>Pesquisar Doadores - Castanharo Telemarketing</title>

{% endblock %}

{% block content %}
    

        <div class="page-title">
           
                Doadores
        </div>

        <div class="sub-title">

            Pesquisar Doadores

        </div>

       

        <div class="search-paramns">
           
            <form class="search" method="GET" action="/doadores/listar">
         
                <input 
                    class="value"
                    type="text"
                    name="valor"
                    placeholder="Buscar por Nome, Email, ou telefone"
                    {% if search_terms %}
                        value="{{search_terms.value}}"
                    {% endif %}
                >
                
              
                
                <button type="submit">Pesquisar</button>
                
                
            </form> 
        </div>
             
        

        <table class="table">
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>telefone</th>
                <th>criado em</th>
                <th>Ver</th>
            </tr>
            

            {% for donor in donors %}
                <tr class="columns">
                    

                    
                    <td>{{donor.name}}</td>
                    <td>{{donor.email}}</td>
                    <td>{{donor.phone}}</td>
                    <td class="created_at">{{donor.created_at}}</td>
                    <td><a href="/doadores/{{donor.id}}">VER</a></td>
                </tr>
            {% endfor %}

        </table>
                
        <div class="pagination">
            <div>
            {% if search_terms.page != 1 %}
                <a id="previous_page" href="/doadores/listar?pagina={{search_terms.page|float - 1}}&limit=30&valor={{search_terms.value}}">
                << Página anterior </a>
            {% endif %}
            </div>
                  
                {# caracter invisivel #}
            <div>
            {% if donations| length >= search_terms.limit %}
                <a id="next_page" href="/doadores/listar?pagina={{search_terms.page|float + 1}}&limit=30&valor={{search_terms.value}}">
                
                Próxima página >></a>  
            {% endif %}
            </div>
        </div> 
        
                
    <script src="/scripts-for-list.js"></script>



   
    {# <a href="/donations/receipt/{{donation.id}}" class="button" target="_blank">Gerar Recibo</a> #}

{% endblock %}  


