.wrap {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    margin: 0px auto;
}


.page-title {
    max-width: 70%;
    margin-left: 0px;


}

.new-ngo {
    align-self: center;
}

.new-ngo a:hover {
    background-color: var(--color-hover);
}

.new-ngo a {

    border-radius: 5px;
    padding: 4px;

    font-weight: bold;
    background-color: var(--color-call-to-action);
    color: var(--color-letters-clear);
    box-shadow: 1px 1px 1px 1px var(--color-letters);
}

.ngo_actions {
    margin: 70px auto;
    width: 840px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 50px;

}

.ngo_actions a {


    width: 266px;
    height: 80px;
    background-color: var(--color-call-to-action);
    color: var(--color-letters-clear);
    box-shadow: 1px 1px 1px 1px var(--color-letters);
    border-radius: 4px;



}

.ngo_actions a:hover {

    background-color: var(--color-hover);

}

.ngo_actions a p {

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin: 31px;
    color: white;
    text-align: center;




}

.material-symbols-outlined {
    margin-left: 10px;
    font-size: 40px;
    /* font-optical-sizing: 48px; */
}