        <header>

            <div class="menu">


                <div class="logo">

                    <a href="/"> 

                        <img src="/assets/logo.png" alt="Castanharo Telemarketing">

                    </a>

                </div>
            
                <div class="menu2">


                    <div class="links">

                        
                        <a href="/">Instituições</a>
                        <a href="/funcionarios">Funcionários</a>
                        <a href="/doadores">Doadores</a>
                        <a href="/usuarios">Usuários</a>
                        {% if ngo %}
                        <a href="/instituicao/{{ngo.id}}">{{ngo.name}}</a>
                        {% endif %}

                        
                        
                        

                    </div>
                                                    
                    {# <div class="filter">

                        <form action="/recipes" method="GET"> 
                            <input type="text"
                                name="filter"
                                placeholder="Busque uma receita"
                                value="{{filter}}"
                            >

                            <button type="submit">Buscar</button>
                        </form>

                    </div> #}
                    

                </div>

            <a class="logout" href="/sair">Sair</a>

                
            </div>

             <script>
                const a = document.querySelector(".logout")

                    a.addEventListener("click", function(event){

                            const confirmation = confirm("Quer mesmo Sair?")

                            if(!confirmation){
                                    event.preventDefault()
                            }   

                    })
            </script>

        </header>