{% if error and fix%}

<div class="messages error">

    <div>

        Erro: {{error.message}}
        
        <div class="close-btn">
            X
        </div>

    </div>
</div>

{% elseif error%}
<div class="messages error close">


    Erro: {{error.message}}
    
    

</div>

{% endif %}




{% if success %}
<div class="messages success">

    {{success}}

</div>

{% endif %}
 