<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">


<link rel="stylesheet" href="/styles/admin/styles-admin-layout.css">
<link rel="stylesheet" href="/styles/admin/styles-admin-recipes.css">
<link rel="stylesheet" href="/styles/admin/styles-admin-recipe.css">
<link rel="stylesheet" href="/styles/admin/styles-admin-form.css">
<link rel="stylesheet" href="/styles/admin/styles-admin-chefs.css">
<link rel="stylesheet" href="/styles/admin/styles-admin-chef.css">
<link rel="stylesheet" href="/styles/admin/styles-admin-users.css">

<link rel="stylesheet" href="/styles/messages.css">