<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">


<link rel="stylesheet" href="/styles/site/styles-layout.css">
<link rel="stylesheet" href="/styles/site/styles-index.css">
<link rel="stylesheet" href="/styles/site/styles-about.css">
<link rel="stylesheet" href="/styles/site/styles-chef.css">
<link rel="stylesheet" href="/styles/site/styles-recipes.css">
<link rel="stylesheet" href="/styles/site/styles-recipe.css">

<link rel="stylesheet" href="/styles/messages.css">