header {

    background-color: var(--color-background-header);
    min-width: 1240px;
}


header .menu {

    margin: 0 auto;

    padding: 40px 0 30px 0;
    max-width: 1000px;
    min-width: 800px;
    display: flex;
    grid-template-columns: 1fr 1fr;
    position: relative;
    gap: 30px;

}



.logo {
    margin-left: 10px;
}

.menu2 {
    margin: 0 auto;
    max-width: 1000px;
    min-width: 800px;
    padding-top: 4px;
    display: flex;

}

.menu2 .links {
    width: max-content;

}

.menu2 a,
.menu2 div,
.logout a {

    text-align: left;
    padding-top: 4px;
    padding-bottom: 4px;

    font-size: 14px;
    text-transform: uppercase;

    color: #FFFFFF;
    text-decoration: none;

}

.logout {

    display: flex;
    margin-top: 8px;
    justify-content: end;
    text-align: end;
}

.logout a,
.logout p {
    text-align: right;
    margin-top: 0px;
    margin-right: 10px;
    padding-top: 4px;

}

.logout p {
    padding-top: 3px;
}




.menu2 a:hover,
.logout a:hover {


    color: var(--color-menu-hover);
    transition: ease-in 100ms all;
}



.logout button {
    margin-top: 6px;

    height: 14px;
    font-size: 14px;
    text-transform: uppercase;

    color: #FFFFFF;
    background-color: black;
    text-decoration: none;
}

.links {
    display: flex;
    position: relative;
    gap: 50px;
}



.dropdown-menu {


    position: absolute;

    top: 24px;
    left: 0px;

    width: 130px;


    display: block;

    transition: all 200ms;


    opacity: 1;
    visibility: visible;
    border: 1px solid var(--color-input);
    border-radius: 4px;
    background-color: var(--color-call-to-action);

    margin: 0px;
    padding: 5px;

    opacity: 0;
    visibility: hidden;


}

.dropdown-menu div {
    padding-left: 4px;
    margin-bottom: 5px;

}

.dropdown-menu:hover {

    opacity: 1;
    visibility: visible;
}