header {

    background-color: var(--color-background-header);
    min-width: 1240px;
}


header .menu {

    margin: 0 auto;

    padding: 40px 0 30px 0;
    width: 940px;
    display: grid;
    grid-template-columns: 90.6px 1fr 50px;
    position: relative;

}

.logo {
    margin-left: 10px;
}

.menu2 {


    margin-left: 50px;
    padding-top: 4px;
    display: flex;

}

.menu2 .links {
    width: max-content;
}

.menu2 a,
.logout {

    text-align: left;
    padding-top: 4px;
    margin-right: 30px;
    font-size: 14px;
    text-transform: uppercase;

    color: #FFFFFF;
    text-decoration: none;

}


.menu2 a:hover,
.logout:hover {

    text-decoration: underline;
    color: rgba(255, 255, 255, 1);
}

.logout {

    text-align: end;



}

.logout button {
    margin-top: 6px;

    height: 14px;
    font-size: 14px;
    text-transform: uppercase;

    color: #FFFFFF;
    background-color: black;
    text-decoration: none;
}