html {
    background-color: ivory;
    min-width: 940px;

}

:root {


    --color-theme: rgba(56, 56, 56, 1);
    --color-hover: rgb(95, 95, 95);
    --color-letters: white;
    --color-background: ivory;
}




body {
    margin: 0px auto;
    border: 0px;
    font-family: 'Roboto', sans-serif;

}



a {
    text-decoration: none;
}

.page-title {


    margin: 70px auto;
    width: 800px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.page_title a {
    text-decoration: none;
}

#title {
    color: var(--color-theme);

}


#title:hover {

    text-decoration: underline;

}

.sub-title {
    color: var(--color-theme);
    margin: 0 auto;
    width: 800px;
    font-size: 22px;

}

button:focus {

    background-color: var(--color-hover);

}