html {
    background-color: ivory;
    min-width: 940px;

}



body {
    margin: 0px auto;
    border: 0px;
    font-family: 'Roboto', sans-serif;

}

a {
    text-decoration: none;
}

.page-title {


    margin: 70px auto;
    width: 800px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.page_title a {
    text-decoration: none;
}

#title {
    color: rgb(56, 56, 56);

}


#title:hover {

    text-decoration: underline;

}

.sub-title {
    color: rgb(56, 56, 56);
    margin: 0 auto;
    width: 800px;
    font-size: 22px;

}