@keyframes hidemessage {

    to {
        /* bottom: -50px; */
        opacity: 0;
        visibility: hidden;
    }

}

.messages {

    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 15px;

    width: 80%;
    height: 55px;

    color: white;

    top: 77px;
    right: 10%;
    opacity: 1;

    animation: hidemessage 400ms 6s ease-out forwards;
    /*  tempo da animação
    delay de ativaçao da animaçao 
    movimento,
    para a animação na posição final */
}

.messages.error {


    background-color: rgb(207, 47, 19);
}

.messages.success {


    background-color: rgb(70, 221, 0);
}

/*input-error*/

@keyframes originalstate {

    to {

        border: 1px solid #ddd;
    }

}

.input-error {
    border: 1px solid rgb(207, 47, 19);

    animation: originalstate 400ms 5s ease-in-out forwards;
}

.item.user .input-error {
    border: 1px solid rgb(207, 47, 19);
}


.item .input-error {
    border: 1px solid rgb(207, 47, 19);
}