<!DOCTYPE html>
<html lang="en">
<head>
    {# <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> #}
    <link rel="stylesheet" href="/styles/index.css">
    <title>Document</title>
</head>


<body>

    <p>
        N°:{{response.donation.donation_number}}
        Valor: {{response.donation.donation_value}}

    </p>


    <a href="data:application/pdf;base64,{{response.file}}" download="{{response.file_name}}">Baixar Recibo</a> 
    {# <script>
        const downloadLink = response.getElement('a');
    
        downloadLink.click();
    </script> #}

    {# <a href="">Visiualizar</a>
    
    {% if condition %}
        
    {% endif %} #}
    <iframe name="recibo" src="data:application/pdf;base64,{{response.file}}"></iframe>
</body>

</html>