<!DOCTYPE html>

<html>

<head>
    <!-- com o SES tirar alignitems, display e flex direction
            align-items: center;
            display: flex;
            flex-direction: column;
            -->
    <!-- com o SES colocar no span{} display: block-->
    <style>
        .container {
            width: 800px;
            font-family: Arial, Helvetica, sans-serif;


        }

        span {
            margin: 10px 0;
            display: block;
        }
    </style>
</head>

<body>
    <div class="container">
        <img src="" alt="logo">
        <span>
            Oi, {{name}}
        </span>

        <br>
        <span>Você solicitou uma alteração de senha.</span>
        <span>Para realizar a troca de senha clique no link: <a href={{link}}> {{link}} </a>></a></span>

        <span>Caso voce nao tenha solicitado a alteração de senha , ignore este e-mail</span>

        <strong>Obrigado!</strong>


    </div>
</body>

</html>